<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Gallery</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="{{ asset('css/styles.css') }}"/>
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>