{% extends 'base.html.twig' %}

{% block body %}
    <div id="main-block">
        <div id="album-list-block"></div>
        <div id="image-list-block"></div>
    </div>
    <script data-main="{{ asset('js/config.js') }}" src="{{ asset('js/libs/require.js') }}"></script>
{% endblock %}